body {
  width: 100%;
  font-family: 'Roboto';
} 

.header {
  border: 1px;
  background-color: aqua;
  width: 100%;
  height: 873px;
  background-image: url(./img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.top-header {
  padding-top: 40px;
  width: 20%;
  padding-left: 68%;
}

.flex {
  display: flex;
}

.about-sign {
  text-transform: uppercase;
  color: #39474E;
  font-size: 12px;
  padding-top: 15px;
}

.sign {
  margin-left: 10%;
  border: 2px solid #8BC34A;
  border-radius: 100px;
  height: 30px;
  width: 70px;
  font-size: 12px;
  text-transform: uppercase;
  color: #8BC34A;
  text-align: center;
  justify-content: center;
  align-items: center; 
}

.bottom-header  {
  flex-direction: column;
  padding-top: 242px;
}

.hapo-logo {
  width: 250px;
  height: 70px;
  padding-left: 42%;
  padding-top: 175px;
}

.icon-header {
  padding-left: 35%; 
  font-size: 48px;
  padding-top: 48px;
}

.icon-header > div {
  padding-top: 48px;
  width: 21%;
} 

.name-icon {
  font-size: 30px;
  padding-left: 34%;
}

.name-icon>div {
  padding-top: 19px;
  width: 21%;
  color: #283238;
}

.slogan {
  font-size: 15px;
  color: #283238;
  padding-top: 53px;
  padding-left: 38%;
}

.button-header {
  padding-left: 40%;
  padding-top: 34px;
}

.button-start {
  text-transform: uppercase;
  border: 1px;
  border-radius: 100px;
  width: 195px;
  height: 50px;
  background-color: #429321;
  background-image: linear-gradient(to right, #429321, #B4EC51);
  color: white;
  font-size: 15px;
}

.pragraph {
  width: 100%;
  height: 571px;
  padding-left: 10%;
  padding-top: 100px;
  box-shadow:0 5px 15px 10px #E6E6FA;
}

.top-mainRight {
  padding-left: 30px;
  flex-direction: column;
}

.content-icon {
  font-size: 36px;
}

.icon-main {
  width: 36px;
  height: 36px;
}

.textTitle {
  font-size: 38px;
  color: #39474E;
  padding-left: 19px;
}
 
.slogan-main {
  font-size: 14px;
  padding-top: 15px;
  color: #39474E;
}

.content-text {
  text-align: justify;
  font-size: 13px;
  color: #39474E;
  padding-top: 28px;
  width: 555px;
  height: 168px;
}

.button-main {
  padding-top: 15px;
}

.button-start {
  text-transform: uppercase;
  border: 1px;
  border-radius: 100px;
  width: 195px;
  height: 50px;
  background-color: #429321;
  background-image: linear-gradient(to right, #429321, #B4EC51);
  color: white;
  padding-top: 15px;
  text-align: center;
}

.pragraph-right {
  padding-left: 30px;
}

.ovalMain {
  height: 322px;
  background-color: #429321;
  background-image: linear-gradient(to right, #429321, #B4EC51);
}

.img-ovalMain {
  padding-top: 70px;
  justify-content: space-around;
  width: 1000px;
  padding-left: 10%;
  align-items: center;
  text-align: center;

}

.number {
  font-size: 24px;
  color: white;
}

.text-ovalMain {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  width: 69px;
  height: 42px;
  padding-top: 12px;
  text-align: center;
}

.txt-pragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg {
  border: 2.5px solid white;
  border-radius: 100%;
  height: 107px;
  width: 107px;
  color: white;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.number{
  background-color: #7CB342;
  border: 2.5px solid white;
  border-radius: 100%;
  width: 43px;
  height: 43px;
  margin-top: -18px;
  text-align: center;
}

.txt-pragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box {
  color: #8BC34A;
  padding-right: 15px;
  line-height: 24px;
  padding-bottom: 30px;
}

.text-edit {
  font-size: 13px;
  color: #39474E;
  height: 50px;
  width: 519px;
}

.our-customer {
  height: 544px;
  background-image: url(img/rectangle3.png);
}

.top-ourcustomer {
  padding-top: 20px;
  color: white;
  font-size: 48px;
  text-align: center;
}

.main-ourcustomer {
  flex-direction: column;
}

.conttent-ourcustomer {
  justify-content: space-around;
  width: 1000px;
  padding-left: 10%;
}

.Rectangle {
  width: 79px;
  height: 80px;
}

.edit-conttent {
   display: flex;
  flex-direction: column;
} 

.fullname {
  color:white;
  padding-top: 16px;
  width: 58px;
  height: 31px;
  font-size: 13px;
  text-align: center;
  padding-left: 15%;
}

.bottom-ourcustomer {
  padding-top: 20px;
  padding-left: 15%;
}

.ourcustomer-Six {
  font-size: 72px;
  color: white;
  padding-right: 27px;
}

.ourcustomer-Nine {
  font-size: 72px;
  color: white;
  padding-top: 80px;
}

.text-ourcustomer {
  color: white;
  font-size: 18px;
  text-align: justify;
  width: 750px;
  height: 90px;
  line-height: 30px;
}

.footer {
  height: 179px;
  background-color:#39474E;
}

.part-footer {
  flex-direction: column;
  padding-top: 45px;
  padding-left: 10%;
}

.top-footer > div {
  color: #8BC34A;
  line-height: 29px;
  text-transform: uppercase;
  font-size: 13px;
  width: 150px;
}

.img-hapo {
  width: 96px;
  height: 26px;
}

.aboutUs > div {
  width: 150px;
  font-size: 10px;
  line-height: 40px;
  color: white;
}

.coppy-aboutUs {
  padding-top: 36px;
}

.contact-aboutUs > p {
  width: 63px;
  height: 40px;
}

.icon-footer {
  padding-top: 140px;
}

.icon-footer > i {
  width: 38px;
  color: #8BC34A;
  font-size: 13px;
}

