body {
  width: 100%;
  font-family: 'Roboto';
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 873px;
  background-image: url(./img/banner.png);
  background-position: center;
}

.top-header {
  padding-top: 40px;
  width: 20%;
  padding-left: 68%;
}

.flex {
  display: flex;
}

.about-sign {
  text-transform: uppercase;
  color: #39474E;
  font-size: 12px;
  padding-top: 15px;
}

.sign {
  margin-left: 10%;
  border: 2px solid #8BC34A;
  border-radius: 100px;
  height: 30px;
  width: 70px;
  font-size: 12px;
  text-transform: uppercase;
  color: #8BC34A;
  text-align: center;
  justify-content: center;
  align-items: center; 
}

.bottom-header  {
  flex-direction: column;
  padding-top: 242px;
}

.hapo-logo {
  width: 250px;
  height: 70px;
  padding-left: 40%;
  padding-top: 175px;
}

.icon-header {
  padding-left: 25%; 
  font-size: 48px;
}

.icon-header > div {
  padding-top: 30px;
  width: 30%;
} 

.name-icon {
  font-size: 30px;
  padding-left: 24%;
}

.name-icon > div {
  padding-top: 19px;
  width: 29%;
  color: #283238;
}

.slogan {
  font-size: 15px;
  color: #283238;
  padding-top: 53px;
  padding-left: 30%;
}

.button-header {
  padding-left: 44%;
  padding-top: 34px;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 100px;
  border: 1px;
  width: 150px;
  height: 45px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #429321;
  background-image: linear-gradient(to right, #429321, #B4EC51);
}

.pragraph {
  width: 100%;
  height: 520px;
  padding-left: 6%;
  padding-top: 100px;
  box-shadow:0 5px 15px 10px #E6E6FA;
}

 .content-icon {
  align-items: center;
} 

.content-icon > i {
  font-size: 36px;
  color: #39474E;
}

.content-icon plan{
  font-size: 38px;
  color: #39474E;
  padding-left: 19px; 
}

.slogan-main {
  font-size: 14px;
  padding-top: 15px;
  color: #39474E;
}

.content-text {
  text-align: justify;
  font-size: 13px;
  color: #39474E;
  width: 550px;
  height: 168px;
}

.button-main {
  padding-top: 30px;
}

.button-start {
  text-transform: uppercase;
  border: 1px;
  border-radius: 100px;
  width: 195px;
  height: 50px;
  background-color: #429321;
  background-image: linear-gradient(to right, #429321, #B4EC51);
  color: white;
  padding-top: 15px;
  text-align: center;
}

.pragraph-right {
  padding-left: 30px;
  flex-direction: column;
}

.symbol-main {
  height: 322px;
  background-color: #429321;
  background-image: linear-gradient(to right, #429321, #B4EC51);
}

.img-symbol {
  padding-top: 70px;
  justify-content: space-around;
  width: 95%;
}

.img-symbol >div {
  padding-left: 5%;
}

.number {
  font-size: 24px;
  color: white;
}

.name-symbol {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  width: 69px;
  height: 42px;
  padding-top: 12px;
  text-align: center;
}

.txt-pragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ti-icon {
  border: 2.5px solid white;
  border-radius: 100%;
  height: 107px;
  width: 107px;
  color: white;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.number {
  background-color: #7CB342;
  border: 2.5px solid white;
  border-radius: 100%;
  width: 43px;
  height: 43px;
  margin-top: -30px;
  text-align: center;
}

.txt-pragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box {
  color: #8BC34A;
  padding-right: 15px;
  line-height: 24px;
  padding-top: 10px;
}

.text-edit {
  font-size: 13px;
  color: #39474E;
  height: 30px;
  width: 519px;
}

.our-customer {
  height: 495px;
  background-image: url(img/rectangle3.png);
}

.top-ourcustomer {
  padding-top: 15px;
  color: #F8F8FF;
  font-size: 48px;
  text-align: center;
}

.main-ourcustomer {
  flex-direction: column;
}

.conttent-ourcustomer {
  justify-content: space-around;
  width: 90%;
  padding-left: 5%;
}

.Rectangle {
  width: 79px;
  height: 80px;
}

.edit-conttent {
   display: flex;
  flex-direction: column;
} 

.fullname {
  color:white;
  padding-top: 16px;
  width: 58px;
  height: 31px;
  font-size: 13px;
  text-align: center;
  padding-left: 15%;
}

.bottom-ourcustomer {
  padding-top: 10px;
  padding-left: 15%;
  width: 85%;
}

.icon-left {
  font-size: 55px;
  color: #C0C0C0;
  padding-top: 5px;
  padding-right: 27px;
}

.icon-right {
  font-size: 55px;
  color: #C0C0C0;
  padding-top: 80px;
  padding-left: 27px;
}

.text-ourcustomer {
  color: #F8F8FF;
  font-size: 15px;
  text-align: justify;
  width: 750px;
  height: 90px;
  line-height: 30px;
  padding-top: 15px;
}

.footer {
  height: 179px;
  background-color:#39474E;
}

.part-footer {
  flex-direction: column;
  padding-top: 45px;
  padding-left: 6%;
}

.top-footer > div {
  color: #8BC34A;
  line-height: 29px;
  text-transform: uppercase;
  font-size: 13px;
  width: 150px;
}

.img-hapo {
  width: 96px;
  height: 26px;
}

.aboutUs > div {
  width: 150px;
  font-size: 10px;
  line-height: 40px;
  color: white;
}

.coppy-aboutUs {
  padding-top: 36px;
}

.contact-aboutUs > p {
  width: 63px;
  height: 40px;
}

.icon-footer {
  padding-top: 140px;
}

.icon-footer > i {
  width: 38px;
  color: #8BC34A;
  font-size: 13px;
}

