body {
  width: 100%;
  font-family: 'Roboto';
  overflow-x: hidden;
  margin: 0;
}

.header {
  width: 100%;
  background-image: url(./img/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.top-header {
  padding: 40px 25% 0px 72%;
  width: 20%;
}

.flex {
  display: flex;
}

.about-sign {
  text-transform: uppercase;
  color: #39474E;
  font-size: 12px;
  padding-top: 14px;
}

.sign {
  margin-left: 10%;
  border: 2px solid #8BC34A;
  border-radius: 100px;
  height: 30px;
  width: 70px;
  font-size: 12px;
  text-transform: uppercase;
  color: #8BC34A;
  text-align: center;
  justify-content: center;
  align-items: center; 
}

.bottom-header  {
  flex-direction: column;
  text-align: center;
}

.logo-header {
  text-align: center;
  padding-top: 120px;
}

.hapo-logo {
  width: 250px;
  height: 70px;
}

.icon-header {
  text-align: center;
  font-size: 48px;
  justify-content: center;
  align-items: center;
}

.icon-header > div {
  padding-top: 30px;
  text-align: center;
  width: 20%;
} 

.name-icon {
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.name-icon > div {
  padding-top: 19px;
  text-align: center;
  color: #283238;
  width: 20%;
}

.slogan {
  font-size: 15px;
  color: #283238;
  text-align: center;
  padding-top: 50px;
}

.button-header {
  text-align: center;
  padding-top: 34px;
}

.button {
  border-radius: 100px;
  border: 1px;
  width: 150px;
  height: 45px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #429321;
  background-image: linear-gradient(to right, #429321, #B4EC51);
  text-align: center;
}

.main {
  width: 100%
}

.conttent-main {
  box-shadow:  0px -10px 10px 0px #CCCCCC;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.section-main {
  justify-content: center;
  align-items: center;
}

.pragraph-main {
  width: 69%;
  height: 500px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: 'Roboto-Regular';
}

.img-main {
  height: 304px;
  width: 400px;
}

.content-icon {
  align-items: center;
} 

.content-icon > i {
  font-size: 32px;
  color: #39474E;
}

span {
  font-size: 34px;
  color: #39474E;
  padding-left: 19px; 
}

.slogan-main {
  font-size: 12px;
  color: #39474E;
}

.content-text {
  font-size: 12px;
  color: #39474E;
  padding-top: 10px;
}

.button-main {
  padding-top: 30px;
}

.pragraph-text {
  width: 50%;
  margin: 30px;
  height: 304px;
}

.pragraph-img {
  width: 50%;
  margin: 30px;
}

.symbol-main {
  background-color: #429321;
  background-image: linear-gradient(to right, #429321, #B4EC51);
  justify-content: center;
}

.symbol-main >div {
  text-align: center;
}

.img-symbol {
  justify-content: center;
  width: 100%; 
  height: 322px;
}

.img-symbol > div {
  text-align: center;
  margin: 50px;

}

.number {
  font-size: 24px;
  color: white;
}

.name-symbol {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  width: 69px;
  height: 42px;
  padding-top: 12px;
  text-align: center;
}

.ti-icon {
  border: 2.5px solid white;
  border-radius: 100%;
  height: 107px;
  width: 107px;
  color: white;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.number {
  background-color: #7CB342;
  border: 2.5px solid white;
  border-radius: 100%;
  width: 43px;
  height: 43px;
  margin-top: -30px;
  text-align: center;
}

.txt-pragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box {
  color: #8BC34A;
  font-size: 12px;
  padding-top: 14px;
}

.check-box > p {
  font-size: 12px;
  color: #39474E;
  padding-left: 10px;
} 

.our-customer {
  background-image: url(img/rectangle3.png);
  font-family: 'roboto-light';
}

.section-customer {
  height: 500px;
  width: 100%;
}

.section-customer {
text-align: center;
justify-content: center;
align-items: center;
}

.top-ourcustomer {
  text-align: center;
  color: #F8F8FF;
  font-size: 40px;
  padding-top: 10px;
}

.conttent-ourcustomer {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.conttent-ourcustomer > div {
  margin: 0 16px 0 16px;
}

.user-picture {
  width: 79px;
  height: 80px;
}

.edit-conttent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.picture-name {
  color:white;
  width: 58px;
  height: 31px;
  font-size: 13px;
  text-align: center;
}

.customer-slide {
  justify-content: center;
}

.customer-slide > div {
  margin: 10px;
}

.img-slide {
  border: 2px solid white;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  background-color: white;
  text-align: center;
}

.next-slide {
  border: 1.5px solid white;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  text-align: center;
}

.icon-text {
  justify-content: center;
  text-align: center;
}

.icon-text > div {
  text-align: center;
}

.icon-left {
  font-size: 55px;
  color: #A9A9A9;
  padding-right: 15px;
}


.icon-right {
  font-size: 55px;
  color: #A9A9A9;
  padding: 85px 0 0 15px; 
}

.text-ourcustomer {
  color: #F8F8FF;
  font-size: 12px;
  text-align: justify;
  width: 600px;
  height: 90px;
  line-height: 30px;
  padding-top: 15px; 
}

.footer {
  height: 179px;
  background-color:#39474E;
  width: 100%;
  font-family: 'Roboto-Medium';
}

.img-hapo {
  width: 96px;
  height: 26px;
}

.section-footer {
  width: 100%;
  justify-content: center;
  padding-top: 40px;
}

.section-footer > div {
  text-align: center;
  margin: 0 20px 0 20px;
}

.top-part {
  color: #8BC34A;
}

.part-footer {
  padding-top: 15px;
}

.coppy-right {
  color: white;
  padding-top: 16px;
}

.infor-footer {
  color: white;
}

.infor-footer > p {
  text-align: justify;
}

.icon-footer { 
  color: #8BC34A;
  padding-top: 90px;
}
.icon-footer > i {
  margin: 0 10px 0 10px;
}